<% @books.each do |book| %>
<div>
  <!--詳細画面-->
  <%= link_to book_path(book.id) do %>
  <p>詳細画面</p>
  <% end %>
  <p>ショップ名：<%= book.title %></p>
  <p>説明：<%= book.body %></p>
  <p>ユーザーネーム：<%= book.user.name %></p>
</div>
<% end %>
